
.nav {
  display: flex;
  background-color: #3c3a39;
  flex-direction: column;
  height: 70px;
  width: 375px;
  color: #fff;
  justify-content: center;
  position: absolute;
}

.d_view {
  visibility: hidden;
}

.head h1 {
  color: #ff6b00;
  height: 64px;
  width: 400px;
  font-family: 'Crete round', serif;
  margin: 12px 0;
  font-size: 56px;
}

.head h4 {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: normal;
  height: 27px;
  width: 327px;
  position: static;
  padding-top: 62px;
  margin: 12px 0 -12px 0;
  font-size: 24px;
  flex-wrap: wrap;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 20px 0 20px;
}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #fff;
}

.main {
  background-color: #1c1a19;
  width: 375px;
  height: 670px;
  background-image: url(./Images/Illustration-header.png);
  background-repeat: no-repeat;
  background-position: 200px 350px;
  color: white;
  min-height: 100%;
  background-size: 300px 300px;
}

.icons {
  display: inline-block;
  justify-content: flex-start;
  list-style-type: none;
  margin-top: 5%;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 9rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.head p {
  width: 327px;
  height: 123px;
  position: static;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: -5px;
}

.social-icon {
  padding-left: 1em;
}

.placeholder {
  display: flex;
  flex-direction: column;
}

.placeholder img {
  width: 327px;
  height: 237px;
  margin-left: 24px;
}

.placeholder h4 {
  width: 327px;
  height: 36px;
  position: static;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #091e42;
  margin-left: 24px;
}

.placeholder p {
  width: 327px;
  height: 147px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-left: 24px;
  margin-top: -20px;
}

#lboot-btn {
  flex-basis: 30px;
  flex-grow: 2;
}

.placeholder ul {
  width: 327px;
}

.placeholder ul li {
  box-sizing: border-box;
  border: 1px solid #8993a4;
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 50;
  line-height: 20px;
  padding: 0.6rem;
  margin-left: 0.4rem;
}

.placeholder button {
  position: static;
  margin: 12px 0;
  width: 124px;
  height: 48px;
  padding: 12px;
  cursor: pointer;
  background-color: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  margin-left: 1.5rem;
}

.palce_holder {
  display: grid;
  row-gap: 40px;
  background-image: url(./Images/backgoundtool.png);
  background-repeat: no-repeat;
  margin-left: 1rem;
  height: 386px;
  padding-bottom: -20px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.palce_holder h1 {
  justify-content: center;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  width: 295px;
  height: 85px;
  margin-top: 5rem;
  padding-left: 30px;
}

.palce_holder p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: -50px;
  margin-left: 30px;
}

.palce_holder ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: -3rem;
}

.palce_holder ul li {
  font-family: 'Inter', sans-serif;
  padding: 0.5rem;
  color: #fff;
  box-sizing: border-box;
  border: 1px solid #8993a4;
  background: rgba(255, 255, 255, 0.24);
  margin-left: 0.6rem;
}

.palce_holder button {
  border: none;
  background: #ff6b00;
  width: 327px;
  height: 48px;
  color: #fff;
  margin-top: -1rem;
}

.about_me {
  background-color: #1c1a19;
  width: 375px;
  height: 1901px;
  background-image: url(./Images/Frame.png);
  background-repeat: no-repeat;
  background-position: 100px 450px;
  background-size: 300px 300px;
}

.about_capt {
  margin-top: 6rem;
}

.about_capt h1 {
  display: flex;
  justify-content: center;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 88px;
  color: #ff6b00;
  letter-spacing: 0.32px;
  padding-top: 7rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

.about_capt p {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  padding: 0 2rem;
}

.about_capt button {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  margin-top: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  font-style: normal;
  line-height: 24px;
  margin-left: 2rem;
  padding: 1rem;
}

.about_lang {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
}

#language {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: #fff;
}

.about_aln_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  padding-top: 2rem;
}

#abot-framwork {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: #fff;
}

.about_lang_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

.about_capt hr {
  border: 1px solid #fff;
  color: #fff;
  margin-top: 17rem;
}

#lang-skills {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: #fff;
}

.end_work {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-bottom: -20px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.end_work ul {
  display: flex;
  justify-content: space-between;
  flex-basis: 20px;
}

#recent {
  width: 375px;
}

#img_lang {
  width: 18px;
  height: 18px;
}

#lang2-img {
  width: 20px;
  height: 20px;
}

#end_img {
  width: 20px;
  height: 12px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 375px;
}

.contact_form h2 {
  color: #172b4d;
  font-size: 32px;
  line-height: 44px;
  width: 330px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-top: 90px;
  padding-left: 16px;
}

.contact_form ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.contact_form ul li {
  padding: 16px 12px;
  width: 327px;
  height: 18px;
}

#txtarea {
  width: 327px;
  background-color: #fbf8f7;
  border: none;
}

input {
  width: 327px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.l_name {
  visibility: hidden;
}

#form_btn {
  background-color: #ff6b00;
  margin-top: 90px;
  width: 131px;
  height: 48px;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
}

@media (min-width: 1100px) {
  body {
    width: auto;
  }

  #logo {
    margin-left: 90px;
  }

  #nav-btn {
    visibility: hidden;
  }

  .headbtn {
    width: fit-content;
    margin-right: -600px;
  }

  .d_view {
    visibility: visible;
  }

  .nav {
    width: 100%;
  }

  .main {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: baseline;
    background-position: 100%;
    background-size: auto;
  }

  .head {
    flex: 1;
    width: 566px;
  }

  .head h1 {
    height: 160px;
    width: 566px;
    font-size: 72px;
    margin-bottom: -40px;
  }

  .head h4 {
    font-size: 32px;
    width: 566px;
    height: 27px;
  }

  .head p {
    height: 123px;
    font-size: 20px;
    line-height: 32px;
    width: 566px;
  }

  .icons ul {
    flex-direction: column;
  }

  .social-icon {
    padding-top: 20px;
  }

  .work_wraper {
    display: flex;
    width: 90%;
    flex-direction: column;
  }

  #recent {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 15px;
  }

  #recent_head {
    float: left;
    width: 30%;
    height: 52px;
    font-size: 40px;
    margin-left: 2.5em;
  }

  #work_line {
    float: right;
    width: 60%;
    border: 1px solid #212121;
    align-self: center;
  }

  .placeholder {
    display: flex;
    padding-left: 90px;
    flex-direction: row;
  }

  #plac_img {
    width: 50%;
    height: 448px;
  }

  .txt-plac {
    width: 40%;
  }

  .txt-plac p {
    width: fit-content;
    height: 140px;
    font-size: 20px;
  }

  .rep-placeholder {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    padding-right: 30px;
    padding-left: 90px;
    flex-direction: row;
  }

  .palce_holder button {
    visibility: hidden;
  }

  .palce_holder1 {
    background-image: url(./Images/Img\ Placeholder13.png);
  }

  .palce_holder1:hover {
    background-image: url(./Images/Img\ Placeholder2.png);
  }

  .palce_holder1 button {
    visibility: hidden;
  }

  .palce_holder1:hover .hover_hide1 {
    display: none;
  }

  .palce_holder1:hover .visible_btn1 {
    visibility: visible;
    width: 100%;
  }

  .palce_holder4 {
    background-image: url(./Images/Img\ Placeholder13.png);
  }

  .palce_holder3,
  .palce_holder6 {
    background-image: url(./Images/Img\ Placeholder3.png);
  }

  .palce_holder {
    align-items: flex-end;
    height: 435px;
    width: 369px;
  }

  .palce_holder p {
    width: 327px;
    height: 72px;
    line-height: 24px;
    font-size: 14px;
  }

  .about_aln_btns li {
    width: auto;
    font-size: 16px;
  }

  .palce_holder ul {
    width: 300px;
    height: 150px;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .palce_holder ul li {
    padding-top: -100px;
  }

  .palce_holder3 h1,
  .palce_holder6 h1 {
    visibility: hidden;
  }

  .palce_holder3 h1::before,
  .palce_holder6 h1::before {
    content: 'Website Portfolio ';
    visibility: visible;
    position: inherit;
    width: 327px;
    height: 38px;
    font-size: 32px;
  }

  .palce_holder2,
  .palce_holder5 {
    background-image: url(./Images/Img\ Placeholder4.png);
    background-size: 100%;
  }

  .palce_holder2 h1,
  .palce_holder5 h1 {
    visibility: hidden;
  }

  .palce_holder2 h1::before,
  .palce_holder5 h1::before {
    content: 'Data Dashboard Healthcare';
    visibility: visible;
    position: inherit;
    width: 327px;
    height: 81px;
    font-size: 32px;
  }

  .palce_holder2:hover .hover_hide2 {
    display: none;
  }

  .palce_holder2:hover .visible_btn2 {
    visibility: visible;
    width: auto;
  }

  .palce_holder3:hover .hover_hide3 {
    display: none;
  }

  .palce_holder3:hover .visible_btn3 {
    visibility: visible;
    width: auto;
  }

  .palce_holder4:hover .hover_hide4 {
    display: none;
  }

  .palce_holder4:hover .visible_btn4 {
    visibility: visible;
    width: auto;
  }

  .palce_holder4:hover {
    background-image: url(./Images/Img\ Placeholder2.png);
  }

  .palce_holder5:hover .hover_hide5 {
    display: none;
  }

  .palce_holder5:hover .visible_btn5 {
    visibility: visible;
    width: auto;
  }

  .palce_holder6:hover .hover_hide6 {
    display: none;
  }

  .palce_holder6:hover .visible_btn6 {
    visibility: visible;
    width: auto;
  }

  .about_me {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(./Images/Frame1.png);
    background-position: 700px 99px;
    background-size: 673.27px 353px;
    height: 1029px;
  }

  .about_capt {
    margin-top: -100px;
    margin-left: 90px;
    width: 40%;
  }

  .about_capt h1 {
    width: 100%;
    line-height: 81.5px;
    font-size: 72px;
    margin-left: -118px;
  }

  .about_capt p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    position: static;
  }

  .about_capt button {
    width: 30%;
    font-size: 17px;
    letter-spacing: 3%;
  }

  .line_about {
    width: 70%;
    margin-top: 9px;
    justify-content: center;
    margin-left: 120px;
  }

  .about_sli {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: stretch;
    height: 596px;
    margin-left: 120px;
  }

  .about_lang {
    width: 289.46px;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }

  .head_skl {
    width: 228px;
    font-size: 33px;
    height: 44px;
  }

  .about_aln_btns {
    align-items: baseline;
    margin-top: -40px;
  }

  .contact_form {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    align-items: baseline;
  }

  .form_head {
    width: 455px;
    height: 256px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    color: #262626;
  }

  .form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .name,
  .mail {
    width: 600px;
  }

  #txtarea {
    width: 684px;
    height: 114px;
  }

  .form button {
    margin-left: 30px;
  }

  .d_view:hover {
      animation-duration: 3s;
      animation-name: slidein;
    }
    
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }
  
}
